/* Reset de márgenes y relleno */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo para el cuerpo del documento */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Estilo para el título principal */
h2 {
    color: #333;
    margin-bottom: 20px;
}

/* Estilo general para el formulario */
form.form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: left;
}

/* Estilo para las etiquetas de los campos */
label {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

/* Estilo para los campos de entrada de texto, contraseña, fecha, etc. */
input[type="text"],
input[type="password"],
input[type="date"],
input[type="email"],
select {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Estilo para el botón de enviar */
input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #218838;
}

/* Estilo para el botón de Iniciar Sesión */
button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Estilo adicional para alinear y espaciado */
form + form {
    margin-top: 20px;
}
